node_modules/
**/node_modules/
``` 

This will ensure that any `node_modules` directory in any folder is ignored by Git.// filepath: .gitignore
node_modules/
**/node_modules/
``` 

This will ensure that any `node_modules` directory in any folder